*{
    margin:0;
    padding: 0;
}

section{
    padding: 0 15%;
    height: 100vh;
    width: 70%;
}

h1{
    font-family: 'Open Sans', sans-serif;
}

.section-prueba{
    height: 100vh;
}

/*________________HEADER_________________*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(28,30,55,0.9);
    padding: 0 3%;
}

.header-logo{
    width: 12%;
    visibility: hidden;
}

.header-fixed{
    position: fixed;
}

.header-logo-fixed{
    visibility: visible;
}

nav{
    width: 25%;
}
.nav-elements{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.1vw;
}

.nav-element{
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 3vh;
}

.nav-contacto{
    background-color: white;
    padding: 3.5vh 1%;
    color: rgb(28,30,55);
}

.header-mobile{
    display: none;
}


/*_______________PORTADA_________________*/

.section-portada{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(28,30,55,0.9);
}

.fondo-pomelos{
    background-image : url("img/fondo-pomelos.jpg");
}
.portada-contenido{
     padding: 30vh 15%;
     width: 70%;
     height: 30vh;
 }

.portada-logo{
    width: 30%;
}

.portada-texto{
    color: white;
    width: 30%;
    font-size: 2.5vw;
}

.citrico{
    background-color: #ff5c5c;
    padding: 0 1%;
}

/*_______________________________________*/
/*__________RESPONSIVE MAX 768___________*/
/*_______________________________________*/

@media (max-width: 768px){

    /*HEADER 768*/
    .header-logo{
        display:none;
    }


    nav{
        width: 100%;
    }

    .header-mobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header-mobile-logo{
        width: 50%;
        visibility: hidden;
    }

    .nav-elements{
        justify-content: center;
    }
    .nav-element{
        display: none;
    }
    .menu-button-part{
        width: 35px;
        height: 5px;
        margin-bottom: 3px;
        background-color: #ff5c5c;
    }

    /*PORTADA 768*/

    .portada-contenido{
        padding: 30vh 15%;
        width: 70%;
        height: 30vh;
    }
   
   .portada-logo{
       width: 60%;
   }
   
   .portada-texto{
       color: white;
       width: 60%;
       font-size: 5vw;
   }

}

/*_______________________________________*/
/*__________RESPONSIVE MAX 480___________*/
/*_______________________________________*/


