* {
    margin: 0;
    padding: 0;
}

section {
    padding: 0 15%;
    width: 70%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3vw;
    color: rgb(28, 30, 55);
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

/*________________HEADER_________________*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(28, 30, 55, 0.9);
    padding: 0 3%;
    z-index: 1;
}

.header-logo {
    width: 12%;
    visibility: hidden;
}

.header-fixed {
    position: fixed;
    background-color: rgb(28, 30, 55);
}

.header-logo-fixed {
    visibility: visible;
}

nav {
    width: 25%;
}

.nav-elements {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.1vw;
}

.nav-element {
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 3vh;
}

.nav-element:hover {
    cursor: pointer;
}

.nav-contacto {
    background-color: white;
    padding: 3.5vh 1%;
    color: rgb(28, 30, 55);
}

.header-mobile {
    display: none;
}

/*_______________PORTADA_________________*/

.section-portada {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(28, 30, 55, 0.9);
}

.fondo-pomelos {
    background-image: url(/img/fondo-pomelos.jpg);
}

.portada-contenido {
    padding: 30vh 15%;
    width: 70%;
    height: 30vh;
}

.portada-logo {
    width: 30%;
}

.portada-texto {
    color: white;
    width: 30%;
    font-size: 2.5vw;
    font-family: 'Open Sans', sans-serif;
}

.citrico {
    background-color: #ff5c5c;
    padding: 0 1%;
}

/*____________SERVICIOS___________ */

.section-services, .section-portfolio {
    margin: 10% 0;
}

.services-content, .portfolio-content {
    margin-top: 5%;
}

.services-title{
    margin-bottom: 8%;
    opacity: 0;
}



.tablet-mobile {
    display: none;
}



.circle-div{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
    height: 17vw;
    width: 17vw;
}

.circle img {
    width: 30%;
}

.info-div {
    width: 96%;
    margin: 8% 2%;
}

.info-div p {
    margin: 1% 5%;
}

.circle, .info-div {
    flex-flow: column;
}

.circles, .circle, .info, .info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circles{
    display: flex;
    justify-content: space-between;
}

.cyan {
    background-color: rgba(0, 255, 255, 0.7);
}

.magenta {
    background-color: rgba(255, 0, 255, 0.7);
}

.yellow {
    background-color: rgba(255, 255, 1, 0.7);
}

/*______________PORTFOLIO_________________*/

.section-portfolio {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.portfolio-title{
    opacity:0;
}


.portfolio-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 70%;
    padding: 0 15%;
}

.portfolio-content-img {
    width: 100%;
    opacity: 0;
}

.portfolio-img-visible{
    animation-name: portfolio-img-visible;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

@keyframes portfolio-img-visible{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.portfolio-content-img:hover {
    cursor: pointer;
    transform: scale(1.03);
}

/*_____________NOSOTROS__________________*/

.section-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15%;
}

.nosotros-title {
    color: #1C1E37;
    font-size: 3vw;
    opacity: 0;
}

.nosotros-contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}

.nosotros-izquierda {
    width: 60%;
}

.nosotros-texto {
    font-family: "Opens Sans", sans-serif;
    color: #1C1E37;
}

.nosotros-iconos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.nosotros-icono {
    width: 12%;
}

.icono-express {
    color: rgb(28, 30, 55);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.7vw;
}

.nosotros-derecha {
    background-image: url(/img/mendoza.jpg);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.mapa-violeta {
    background-color: rgba(28, 30, 55, 0.6);
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

/*_____________CONTACTO________________*/

.section-contacto {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1E37;
}

.contacto-izquierda {
    width: 40%;
    height: 50vh;
}

.contacto-title {
    color: white;
    font-size: 3vw;
    margin-bottom: 5%;
    opacity: 0;
}

.contacto-text {
    color: white;
}

form {
    width: 30vw;
    height: 50vh;
}

.form-element {
    display: block;
    width: 28vw;
    height: 10%;
    margin: 3% 0;
    padding: 2% 1vw;
    background-color: #373951;
    border: none;
    color: white;
}

.text-area {
    height: 30%;
}

.form-button {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #1C1E37;
    border: none;
    padding: 2% 4%;
    background-color: white;
}

.form-send-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-send-message {
    color: white;
    width: 60%;
    font-weight: 800;
}

.form-button:hover {
    cursor: pointer;
    visibility: visible;
}

/*_______________FOOTER__________________*/

.footer {
    height: 10vh;
    background-color: #FF5C5C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 3%;
}

.credits {
    padding-top: 2%;
    text-align: center;
    background-color: #FF5C5C;
    color: white;
    font-size: 0.8vw;
}

.credits a {
    color: white;
    text-decoration: none;
}

.direccion {
    width: 20%;
}

.direccion-element {
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
}

.direccion-logo {
    width: 8%;
    margin-right: 5%;
}

.redes {
    width: 15%;
}

.redes-logo {
    width: 15%;
    margin: 0 2%;
}

.logo-footer {
    width: 12%;
}

/*____________ANIMACIONES_________________*/

.title-visible{
    animation-name: title-visible;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes title-visible{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*_______________________________________*/

/*__________RESPONSIVE MAX 768___________*/

/*_______________________________________*/

@media (max-width: 768px) {
    h1 {
        font-size: 6vw;
    }
    p {
        font-size: 2.2vw;
    }
    /*HEADER 768*/
    .header-logo {
        display: none;
    }
    nav {
        width: 100%;
    }
    header {
        padding: 0 0;
    }
    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94%;
        height: 10vh;
        padding: 0 3%;
    }
    .header-mobile-logo {
        width: 25%;
        visibility: hidden;
    }
    .nav-elements {
        justify-content: center;
    }
    /*nav*/
    .nav-element {
        display: none;
    }
    .header-nav-show {
        height: 50vh;
        position: fixed;
    }
    .nav-elements {
        flex-direction: column;
        font-size: 3vw;
    }
    .nav {
        width: 100%;
    }
    .nav-element-nav-show {
        font-size: 3vw;
        display: block;
        height: 9.8vh;
        background-color: rgba(28, 30, 55, 0.9);
        border: 0.1vh solid rgb(37, 38, 61);
        width: 100%;
        margin-left: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-contacto-nav-show {
        padding: 0 0;
    }
    /*---*/
    .menu-button-part {
        width: 35px;
        height: 1vh;
        margin-bottom: 3px;
        background-color: #ff5c5c;
    }
    /*PORTADA 768*/
    .portada-contenido {
        padding: 30vh 15%;
        width: 70%;
        height: 30vh;
    }
    .portada-contenido-nav-show {
        padding: 40vh 15% 30vh 15%;
    }
    .portada-logo {
        width: 60%;
    }
    .portada-texto {
        color: white;
        width: 60%;
        font-size: 5vw;
    }
    /*SERVICIOS 768*/
    .services-content, .portfolio-content {
        margin-top: 10%;
    }

    .section-services{
        padding-top: 5vh;
    }
    .services-title {
        margin-top: 15%;
    }
    .desktop {
        display: none;
    }
    .tablet-mobile {
        display: flex;
    }
    .tablet-mobile .circles {
        flex-flow: column;
        justify-content: space-between;
        align-items: space-between;
    }
    .circle {
        height: 50vw;
        width: 50vw;
        margin: 10%;
    }
    .circle img {
        width: 20%;
    }
    .circle h2 {
        font-size: 6vw;
    }
    .circle p {
        margin: 0 10%;
    }
    /*PORTFOLIO 768*/
    .section-portfolio {
        min-height: 90vh;
    }
    .portfolio-content {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        padding: 0 0;
    }
    .portfolio-content .img-display {
        display: none;
    }
    /*NOSOTROS 768*/
    .section-nosotros {
        min-height: 70vh;
    }
    .nosotros-title {
        font-size: 6vw;
    }
    .nosotros-derecha {
        display: none;
    }
    .nosotros-izquierda {
        width: 100%;
    }
    /*CONTACTO 768*/
    .section-contacto {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .contacto-izquierda {
        width: 100%;
        height: auto;
        margin-bottom: 10%;
    }
    .contacto-title {
        font-size: 6vw;
    }
    form {
        width: 98%;
        height: auto;
    }
    .form-element {
        width: 100%;
    }
    /*FOOTER 768*/
    .logo-footer {
        display: none;
    }
    .direccion-logo {
        display: none;
    }
    .redes {
        width: 40%;
        text-align: right;
    }
    .redes-logo {
        width: 15%;
    }
}

/*_______________________________________*/

/*__________RESPONSIVE MAX 480___________*/

/*_______________________________________*/

@media (max-width: 480px) {
    p {
        font-size: 4.2vw;
    }
    h1 {
        font-size: 9vw;
    }
    /*HEADER 480*/
    .nav-element-nav-show {
        font-size: 5vw;
    }
    .header-mobile-logo {
        width: 40%;
        visibility: hidden;
    }
    /*SERVICIOS 480*/
    .circle {
        height: 65vw;
        width: 65vw;
    }
    /*NOSOTROS 480*/
    .nosotros-title {
        font-size: 9vw;
    }
    .nosotros-contenido {
        margin-top: 10%;
    }
    .nosotros-iconos {
        margin-top: 10%;
    }
    /*CONTACTO 468*/
    .contacto-izquierda {
        height: auto;
    }
    .contacto-title {
        font-size: 9vw;
    }
    /*FOOTER 468*/
    .redes {
        width: 40%;
    }
    .redes-logo {
        width: 25%;
    }
}